@using System.Collections.Generic
@using System.Diagnostics
@using System.Linq
@using System.Threading.Tasks
@using System
@using ATIVIDADE_1
@model List<ItemPedido>

    <h2>Listagem de Pedidos</h2>
    <table border="2">
    <thead>
       <tr>
           <th>Descrição</th>
           <th>Quantidade</th>
           <th>Valor_unitario</th>

        </tr>
    </thead>

       <tbody>
           @foreach (ItemPedido item in Model)
           {
               
               <tr>
                   <td>@item.descrição</td>
                   <td>@item.quantidade</td>
                   <td>@item.valor_unitario</td>

           
               </tr>
           }
       </tbody>
    </table>
    </br>
    <div style=" font-weight: bold">
    </br>
    @ViewData["Contador"]
    </br>
    @ViewData["Resultado"]
    </div>
    </br></br>

    <p>Total dos pedidos é: @Dados.PedidoAtual.FinalizarPedido()</p>
    